.container
	h1 WYSIWYG made easy

	form.form(*ngIf="form", [formGroup]="form")
		.form-group
			div(redactor, formControlName="text", [redactorOptions]="redactorOptions")

	button.btn.btn-default((click)="changeContent()") Change
	button.btn.btn-default((click)="clear()") Clear
	div {{ form?.value | json }}
